/* Dennis snygga stilfil */

/* Sidhuvudet logo, firmanamn och nav */
header {
    background-color: #801515;
    display: flex;
    /* logon och nav är flex items */
    align-items: center;
    border: 1px solid white;


}

header img {
    padding: 4px;
    margin: 6px 6px;
    border: 2px solid white;
    border-radius: 8px;
}

#logo {
    color: white;
    padding-left: 16px;
    font-size: xx-large;
}

/* Huvudmenyn */
nav {
    margin-left: auto;
    /* skuffar menyn till högra kanten */
}

nav ul {
    margin: 0px 10px;
    /* bort med inbyggd marginal (shortand 2) */
    padding: 0;
    /* Bort med inbyggd padding */
}

nav li {
    font-weight: bold;
    list-style: none;
    /* bort med bollar */
    float: left;
    /* ordna element bredvid varann på desktop */
    padding: 10px;
    /* lite till luft runt li */
}

nav li>a {
    text-decoration: none;
    /* bort med underline */
    color: black;
    /* bort med inbyggd blå/lila text */
    padding: 8px;
    /* Förberedelse för hover */
    border-radius: 4px;
}

nav a:hover {
    background-color: #FFAAAA;
    /* Byter bakgrund on hover "pseudoklass" */
}

/* Allmängällande stilar */
body {
    background-color: #3D3D3D;
    margin: 0;
    font-family: "Helvetice Neue", Helvetica, sans-serif;

}

.container {
    background-color: #FFAAAA;
    color: #3D3D3D;
    max-width: 800px;
    margin: auto;
    min-height: 100vh;
    align-items: center;

}

.signupform {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30%;
}



/* Footer */
footer {
    background-color: #801515;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 790px;
    padding: 5px;
    border: solid 1px white;
}

/* Signup form */

#signup {

    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 30px;
    color: black;
    border-radius: 50px;
    background-color: #DDDDDD;
    border: 30px solid #DDDDDD;


}

#signupinfo {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    padding: 10px;
    border-radius: 5px;
    background-color: #801515;
    color: white;
    font-size: 20px;
    text-align: center;
    border: none;

}

#btn-submit {
    padding: 10px;
    border-radius: 5px;
    background-color: #801515;
    color: white;
    font-size: 20px;
    text-align: center;
    border: none;
    width: 200px;
    align-self: center;
}

#info {

    justify-self: flex-end;
    display: flex;
    flex-direction: column;




}

#sign-up-confirmation {

    display: flex;
    flex-direction: column;
    width: auto;
    text-align: center;
    font-size: 30px;
    color: black;
    border-radius: 50px;
    background-color: #DDDDDD;
    border: 30px solid #DDDDDD;
    font-size: medium;
    align-self: center;
    justify-self: center;
    line-height: 1.2;

}

.profilePictures {
    width: 85%;
    margin: 15px;
    border: silver 10px solid;
}

#flexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#loginErr {
    color: red;
}

#uploadText {
    color: black;
    font-weight: bold;
}

#commentsection {

    width: 85%;
    background-color: silver;
    border-radius: 50px;
    height: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    padding: 10px;

}

/* Responsiv styling */
@media (max-width: 640px) {
    header {
        display: block;
        text-align: center;
    }

    nav li {
        float: none;
    }

}